[Unit]
Description=Squeekboard - a Wayland virtual keyboard
PartOf=graphical-session.target
# Don't stop restarting the program
StartLimitIntervalSec=0

[Service]
Environment="GTK_THEME=Adwaita:dark"
ExecStart=/usr/bin/squeekboard

Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical-session.target

